.App {
  text-align: center;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.gist-container {
  display: flex;
  child-align: middle;
  width: 70%;
  flex-direction: row;
  margin: 10px 10px 10px 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 10px 10px 10px 10px;
}

.gist-container > div {
  background-color: #f1f1f1;
  child-align: middle;
  width: 80%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.fork-container {
  display: flex;
  width: 80%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  flex-direction: column;
  align-content: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

